language: cpp

services:
  - docker

env:
    - BUILD_VARIANT=debug
    - BUILD_VARIANT=release
    - QBS_VERSION=qbs:1.4.2.Qt5.6.1
    - QBS_VERSION=qbs:1.4.2.Qt5.7.0
    - QBS_VERSION=qbs:1.5.0.Qt5.6.1
    - QBS_VERSION=qbs:1.5.0.Qt5.7.0
    - QBS_VERSION=qbs:1.5.1.Qt5.6.1
    - QBS_VERSION=qbs:1.5.1.Qt5.7.0

addons:
  apt:
    packages:
      - p7zip-full
      - tree

before_script:
  - INSTALL_DIR=/tmp/fsim/docker

script:
  - ./scripts/build_in_docker.sh
  - tree -L 5 ${INSTALL_DIR}
  - docker run --rm -v ${INSTALL_DIR}:/fsim -v $PWD/modules/Qt-Qbs-Application/scripts:/scripts approximator/qttest python /scripts/take_screenshot.py -f /fsim/install/Forces_Simulation/fsim -t 55 -o /fsim/install/Forces_Simulation/screenshot.png
  - tree -L 5 ${INSTALL_DIR}
