os: Windows Server 2012 R2
version: 1.0.{build}
environment:
  MINGW: C:\Qt\Tools\mingw492_32
  QTDIR: C:\Qt\5.5\mingw492_32
  TAKE_SCREENSHOT: scripts\take_screenshot.bat

  matrix:
  - BUILD_VARIANT: debug
  - BUILD_VARIANT: release

install:
- cmd: git submodule update --init --recursive
- cmd: set PATH=%MINGW%\bin;%QTDIR%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%
- cmd: set INSTALL_DIR=%APPVEYOR_BUILD_FOLDER%\install
build_script:
- cmd: >-

    qbs setup-toolchains --detect

    qbs setup-qt %QTDIR%\bin\qmake.exe qt

    qbs config profiles.i686-w64-mingw32.cpp.archiverPath "%MINGW%\bin\ar.exe"

    qbs config profiles.i686-w64-mingw32.cpp.nmPath "%MINGW%\bin\nm.exe"

    qbs config profiles.i686-w64-mingw32.cpp.objcopyPath "%MINGW%\bin\objcopy.exe"

    qbs config profiles.i686-w64-mingw32.cpp.stripPath "%MINGW%\bin\strip.exe"

    qbs config defaultProfile qt

    cd %APPVEYOR_BUILD_FOLDER%\src

    qbs --command-echo-mode command-line --clean-install-root qbs.installRoot:%INSTALL_DIR% %BUILD_VARIANT%

    windeployqt --%BUILD_VARIANT% --no-system-d3d-compiler --no-translations --no-qmltooling --qmldir %APPVEYOR_BUILD_FOLDER%\src\qml %INSTALL_DIR%

    windeployqt --%BUILD_VARIANT% --no-system-d3d-compiler --no-translations --no-qmltooling --qmldir %APPVEYOR_BUILD_FOLDER%\modules\qml-material\modules\material %INSTALL_DIR%

    dir

#    %TAKE_SCREENSHOT%

artifacts:
- path: install
  name: ForcesSimulation
# - path: '*.png'
#   name: screenshot
# - path: 'fgautopilot-0.0.3/*.log'
#   name: logs
