[project]
	description = Forces simulation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Approximator (approximator)
[access "refs/for/refs/*"]
	read = group user/Approximator (approximator)
	push = group user/Approximator (approximator)
	label-Code-Review = -2..+2 group user/Approximator (approximator)
	label-Verified = -1..+1 group user/Approximator (approximator)
	rebase = group user/Approximator (approximator)
	removeReviewer = group user/Approximator (approximator)
	submit = group user/Approximator (approximator)
[access "refs/heads/*"]
	read = group user/Approximator (approximator)
	create = group user/Approximator (approximator)
	push = +force group user/Approximator (approximator)
	pushMerge = group user/Approximator (approximator)
[access "refs/tags/*"]
	push = +force group user/Approximator (approximator)
	pushTag = group user/Approximator (approximator)
	pushSignedTag = group user/Approximator (approximator)
